/.vscode
/2.c
/2.exe
/2KOTELMANAGEMENTSYSTEM.exe
/2ndSem.exe
/2ndSem2.c
/2ndSem2.exe
/2ndSem2.txt
/2ndsem3
/2ndsem3.c
/2ndsem3.exe
/2ndSemComMm.c
/2semPointer1.c
/2semPointer2.c
/5grade.c
/arduino.cpp
/Arduinocar.c
/arrays.c
/arrays.exe
/bawunsani.exe
/c.bat
/clients.txt
/client_records.dat
/desktop.ini
/employeeMS.c
/employeeMS.exe
/employeeMS.txt
/employees.dat
/employees.txt
/feedback.txt
/global.c
/Gradecalcu.txt
/hand.c
/hand.exe
/inventory.dat
/inventoryMs.c
/inventoryMs.exe
/inventoryMs.txt
/KiSaRie.exe
/local
/mcdoParoll.txt
/mcdoPayrollSystem.c
/mcdoPayrollSystem.exe
/mcdoPayrollSystem_v1.exe
/paraMeter1.c
/paraMeter1.exe
/paraMeter2.c
/paraMeter2.exe
/pointer.c
/pointer.exe
/pointer1.exe
/pointer2.exe
/receipt1.txt
/Record
/salary_hottel.txt
/SamHotel.c
/SamHotel.exe
/sem3clone.c
/sem3clone.exe
/simpleHMS.c
/smartParkSystem.c
/smartParkSystem.txt
/studentMS.c
/studentMS.exe
/studentMS.txt
/students.txt
/TempFile
/z1.c
/z1.exe